
<center><p style="color:#00BC8C; font-size:3em;">Build your Workout</p></center>
<br />
<div class="col-sm-5 col-sm-offset-1">
    <div class="panel" style="padding:2%; font-size:1.6em;">
        <input id="ExerciseSearch" placeholder="Search Exercises" class="form-control" type="text" name="input" value="" ng-model="input" ng-change="ctrl.doSearch(input)" />
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th>Muscle Group</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exercise in ctrl.exercises">
                        <td>
                            {{exercise.name}}
                        </td>
                        <td >
                            {{exercise.muscleGroup}}
                        </td>
                        <td>
                            <button style=" border-radius:45px; " class="btn btn-danger " ng-model="exercise" ng-click="ctrl.addToWorkOut(exercise)">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="col-sm-5 col-sm-offset-0">
    <div class="panel">
        <div class="panel-body">
            <form ng-submit="ctrl.addWorkout()">
                <div class="form-group">
                    <label>Workout</label>
                    <input type="text" class="form-control" ng-model="ctrl.workout.name" ng-change="ctrl.doSearchWorkOut(input)" />
                </div>

                <ol style="font-size:1.6em;">
                    <li ng-repeat="exercise in ctrl.workout.exercises" >{{exercise.name}}</li>
                   
                </ol>
                <div>
                    <button class="btn btn-danger" style="font-size:1.6em;" type="submit">Create Workout!</button>
                </div>
            </form>
        </div>
    </div>
</div>