
<h1>FRONT PAGE</h1>
<!--BODY DIV-->
<div class="body_div front_page">




    <div class="col-lg-4 col-lg-push-4" ng-controller="frontController">
        <input type="text" placeholder="Exercise Name" ng-model="current.name" value="{{current.exercise}}">
        <input type="text" placeholder="Description" ng-model="current.description" value="{{current.description}}">

        <a href="#" ng-click="addExercise(current)">Add</a> |
        <a href="#" ng-click="saveChanges(current)">Save Changes</a>

        <table>
            <thead>
                <tr>
                    <th>EXERCISE</th>
                    <th>DESCRIPTION</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="exercise in exercises">
                    <td>{{exercise.name}}</td>
                    <td>{{exercise.description}}</td>
                    <td><a href="#" ng-click="editExercise(exercise)">Edit</a> | <a href="#" ng-click="deleteExercise(exercise)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>




</div>














<div class="col-sm-5 col-sm-offset-0">
    <div class="panel">
        <div class="panel-body">
            <form ng-submit="ctrl.addWorkout()">
                <div class="form-group">
                    <label>Workout</label>
                    <input type="text" class="form-control" ng-model="ctrl.workout.name" />
                </div>

                <ol style="font-size:1.6em;">
                    <li ng-repeat="exercise in ctrl.workout.exercises" >{{exercise.exercise}}</li>
                </ol>
                <div>
                    <button class="btn btn-danger" style="font-size:1.6em;" type="submit">Create Workout!</button>
                </div>
            </form>
        </div>
    </div>
</div>