
<div class="col-sm-6 col-sm-offset-2">
    <div class="panel">
        <h3>Edit Exercise</h3>
        <div class="panel panel-body">
            <form ng-submit="ctrl.addExercise()">
                <div class="form-group">
                    <label>Exercise Name</label>
                    <input class="form-control" type="text" name="name" value="" ng-model="ctrl.exercise.exercise" />
                </div>
                <div class="form-group">
                    <label>Muscle Group</label>
                    <input class="form-control" type="text" name="name" value="" ng-model="ctrl.exercise.muscelGroup" />
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" name="name" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>