<!--NAV-->
<!--<nav>
    <ul class="nav">
        <li><a class="left-nav" ui-sref="home">Workoutous</a></li>
        <li><a class="right-nav" ui-sref="register">Register</a></li>
        <li><a class="right-nav" ui-sref="login">Login</a></li>
    </ul>
</nav>-->
<!--<nav>
    <div class="nav nav-wrapper">
        <a href="#!" class="brand-logo">Workoutous</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Register</a></li>
            <li><a href="badges.html">Login</a></li>
            <li><a href="collapsible.html">TAB</a></li>
            <li><a href="mobile.html">TAB</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
    </div>
</nav>-->
<h1>HOME / MAIN PAGE</h1>
<!--BODY DIV-->
<div class="body_div home_page">









</div>


<ul ng-repeat="user in vm.users">
    <li>{{user.firstName}}</li>
</ul>