<div id="homeMain1">
   <h1 id="homeMainText">Be Fit. Be You.</h1>
</div>

<div class="col-sm-offset-0">

    <div class="col-sm-4 triPanel">
        <div class="panel" style="padding:4%;">
            <center><img width="150" src="../../images/db.png" /></center>
            <div class="panel-body">
                <p>Access a vast database of Exercises. Contribute your owne exercise for others to use.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 triPanel">
        <div class="panel" style="padding:4%;">
            <center><img width="155" src="../../images/buttons_FIT_dumbbell.png" /></center>
            <div class="panel-body">
                <p>Create custom workouts that meet your fitness level. </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 triPanel">
        <div class="panel" style="padding:4%;">
            <center><img width="150" src="../../images/sport.png" /></center>
            <div class="panel-body">
                <p>Create custom workouts that meet your fitness level. </p>
            </div>
        </div>
    </div>

    <ul>
        <li class="lItem">Extreme</li>
        <li class="lItem">to</li>
        <li class="lItem">Casual</li>
    </ul>
</div>
<p>SWOLE.YOU allows you to be your own personal trainer.</p>



