

<div class="col-lg-4 col-sm-offset-4">
    <div class="panel">
        <p style="margin-left:1%; font-size:2em;">Sign In</p>
        <div id="signin" class="panel-body">
            <form ng-submit="ctrl.loginUser()">
                <div class="form-group">
                    <label>User Name</label>
                    <input class="form-control" type="text" name="name" value="" ng-model="ctrl.userLogin.username" required/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="name" value="" ng-model="ctrl.userLogin.password" required/>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" name="name" value="Submit" />
                    <a ui-sref="register">Register</a>
                </div>
            </form>

        </div>
    </div>
</div>