<h1>FRONT PAGE</h1>
<!--BODY DIV-->
<div class="body_div front_page">




    <div class="col-lg-4 col-lg-push-4" ng-controller="frontController">
        <input type="text" placeholder="Exercise Name" ng-model="current.name" value="{{current.exercise}}">
        <input type="text" placeholder="Description" ng-model="current.description" value="{{current.description}}">

        <a href="#" ng-click="addExercise(current)">Add</a> |
        <a href="#" ng-click="saveChanges(current)">Save Changes</a>

        <table>
            <thead>
                <tr>
                    <th>EXERCISE</th>
                    <th>DESCRIPTION</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="exercise in exercises">
                    <td>{{exercise.name}}</td>
                    <td>{{exercise.description}}</td>
                    <td><a href="#" ng-click="editExercise(exercise)">Edit</a> | <a href="#" ng-click="deleteExercise(exercise)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>




    <!--<div class="exercise-search-div col-xs-12 col-lg-6">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Search for exercises" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="filter">Filter by MUSCLE GROUP</label>
                                    <select class="form-control">
                                        <option value="0" selected>-</option>
                                        <option value="1">muscle group 1</option>
                                        <option value="2">muscle group 2</option>
                                        <option value="3">muscle group 3</option>
                                        <option value="4">muscle group 4</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>





    <div class="col-xs-12 col-lg-6">
        <div class="card-panel teal">
            <span class="workout-placeholder white-text">
                Workouts
            </span>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-lg-12" ng-init="exercises=['bench press', 'deadlift', 'squat']">
                <ul>
                    <li ng-repeat="exercise in exercises" class="list-group-item">
                        {{exercise}}
                        <span class="pull-right">
                            <a href="#" class="badge badge-default badge-pill" title="edit">edit</a>
                            <a href="#" class="badge badge-default badge-pill" title="delete">delete</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12">
            <ul class="collapsible" data-collapsible="accordion">
                <li ng-repeat="exercise in exercises">
                    <div class="collapsible-header"><i class="material-icons">accessibility</i>{{exercise}}</div>
                    <div class="collapsible-body">
                        <span>
                            {{exercise}}
                            <span class="pull-right">
                                <a href="#" class="badge badge-default badge-pill" title="delete">delete</a>
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>-->






    <!--style="background-color:white; border-radius:30px; width: 600px; height: 40px;"-->










</div>
