
<div class="col-sm-4 ">
    <div class="panel">
        <div class="panel-body">
            <img width="140" class="img-responsive img-circle" src="https://s-media-cache-ak0.pinimg.com/originals/f6/d5/c6/f6d5c684d7b1c83a4a36f59bb77dbb6a.jpg" alt="Alternate Text" />
            <h3>Stanley J.</h3>
            
        </div>
        <div class="panel-footer">
            <p>
                In tincidunt et, vulputate quam pellentesque tincidunt sapien mauris nulla, felis nulla nonummy nulla vel elit. Leo mauris sodales aenean, vestibulum id dui sagittis ad donec bibendum, vestibulum convallis leo. Lorem adipiscing. Rhoncus rhoncus amet turpis mattis, cras pretium vivamus. Magna varius amet nibh, sed augue. Nullam nulla inventore laoreet eos placerat magna, sit nulla, nec a molestie wisi tempor pellentesque tristique, interdum in sint dapibus non, tellus aenean curabitur sociis vulputate. Vestibulum malesuada ut est massa nunc.
            </p>
        </div>
    </div>
</div>

<div class="col-sm-7 ">
    <div style="margin-left:15%;" class="panel ">
        <div class="panel-body">
            <table class="table table-responsive table-striped" >
                <thead>
                    <tr>
                        <th>Workout</th>
                        <th>Muscle Group</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="workout in ctrl.workouts">
                        <td>{{workout.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>