
<div class="col-sm-4 ">
    <div class="panel">
        <div class="panel-body">
            <img width="140" class="img-responsive img-circle" src={{ctrl.user.userImage}} alt="Alternate Text" />
            <h3>{{ctrl.user.firstName}}</h3>
            
        </div>
        <div class="panel-footer">
            <p>
                {{ctrl.user.bio}}
            </p>
        </div>
    </div>
</div>

<div class="col-sm-7 ">
    <a ui-sref="addWorkout" class="btn btn-default">New Workout</a>
    <!--<div style="" class="panel " >
        <div class="panel panel-default">
            <div class="panel-body">-->
    <div class="container">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>My Workouts</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workout in ctrl.workouts">
                    <td>{{workout.workOutName}}</td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!--</div>
            </div>
        </div>-->
    </div>