@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html ng-app="WorkOutous">
<head>
    <title>WorkOutous</title>
    <meta charset="utf-8">
    <!--Responsive Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <base href="/" />
    <!--<script src="jquery-3.2.1.min.js"></script>-->
    <!---Bootstrap lInks---->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet" />

</head>

<body ng-controller="AccountController as vm">
    <!--NAV-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Workout.us</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li ><a ng-show="vm.isLoggedin()"ui-sref="home">Home <span class="sr-only">(current)</span></a></li>
                    <li><a ng-show="vm.isLoggedin()" ui-sref="exercises">Exercises</a></li>
                    <li><a ng-show="vm.isLoggedin()" ui-sref="userPage">My Profile</a></li>
                    
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a ng-show="!vm.isLoggedin()" ui-sref="login">Log In</a></li>
                    <li><a ng-show="vm.isLoggedin()" href="#" ng-click="vm.logout()">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!----->
    


    <div class="container">
        <ui-view></ui-view>
    </div>



   

    <!---Lib Files-->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!---Controllers & Services-->
    <script src="~/ngApp/controllers/MainController.js"></script>
    <script src="~/ngApp/services/MainService.js"></script>
    <script src="~/ngApp/controllers/LogInController.js"></script>
    <script src="~/ngApp/controllers/exerciseController.js"></script>
    <script src="~/ngApp/services/exerciseService.js"></script>
    <script src="~/ngApp/controllers/workoutController.js"></script>
    <script src="~/ngApp/services/workoutService.js"></script>
    <script src="~/ngApp/services/accountservice.js"></script>
    <script src="~/ngApp/controllers/accountController.js"></script>
    <script src="~/ngApp/controllers/profileController.js"     ></script>
    <!--angular app-->
    <script src="~/ngApp/app.js"></script>
    <!--Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
 
    

</body>
</html>
