@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html ng-app="WorkOutous">
<head>
    <title>WorkOutous</title>
    <meta charset="utf-8">
    <!--Responsive Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
    <!--Workoutous CSS-->
    <link rel="stylesheet" href="css/workoutous.css">
</head>
<body ng-controller="Main as vm">
        @*<h1>Workoutous</h1>
        <div>
            <a ui-sref="home">Home</a> /
            <a ui-sref="#">About</a> /
            <a ui-sref="login">Login</a> /
            <a ui-sref="register">Register</a>
        </div>
        <hr />
        {{vm.message}}*@
    <div class="container">
        <ui-view></ui-view>
    </div>

    <!--Button to scroll to top of page-->
    <button onclick="topFunction()" id="topBtn" title="Go to top"> 🢁 TOP </button>

    <!---Lib Files-->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    
    <!---Controllers & Services-->
    <script src="~/ngApp/controllers/MainController.js"></script>
    <script src="~/ngApp/services/MainService.js"></script>
    <!--angular app-->
    <script src="~/ngApp/app.js"></script>
    <!--Workoutous JS file-->
    <script src="js/workoutous.js"></script>

    <!--FOOTER-->
    <footer>
        <h1>This is the footer</h1>
    </footer>
</body>
</html>
